node_modules
.pnpm-store
.git
.gitignore
.next
**/.next
**/node_modules
**/dist
**/*.db
**/*.db-shm
**/*.db-wal
apps/api/.env
apps/web/.env.local
local_deploy.env
media/library/*
!media/library/.gitkeep
