ICECAST_SOURCE_PASSWORD=change_me_source_password
ICECAST_ADMIN_PASSWORD=change_me_admin_password
ICECAST_RELAY_PASSWORD=change_me_relay_password
ICECAST_HOSTNAME=localhost
ICECAST_PORT=8000
ICECAST_ADMIN_EMAIL=local@wstprtradio.test
ICECAST_LOCATION=West Port Radio Local Dev
JUKEBOX_ICECAST_HOST=icecast
JUKEBOX_ICECAST_PORT=8000
JUKEBOX_MOUNT=/radio.mp3
JUKEBOX_NAME=West Port Radio Jukebox
JUKEBOX_DESCRIPTION=West Port Radio local MP3 jukebox
JUKEBOX_GENRE=Eclectic
JUKEBOX_MEDIA_DIR=/music
JUKEBOX_PLAYLIST_MODE=randomize